@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'users';
@import 'quizzes';

body {
  background-color: #e74c3c;
}
header {
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
